{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings:</h2>

    <div class="grid">
        {% for item in auctions %}
        <div class="flex-child">
            <h5>Auction {{ item.id }}</h5>
             <a href="{% url 'auction' item.title %}" href="#">{{ item.title }}</a>
            <h5>Description </h5>
             {{ item.description }}
            <h5>Price </h5>
             {{ item.price }}
            {% if item.image %}
                <h5>Photo </h5>
                 {{item.image}}
                <img src="{{item.image}}" alt="">
            {% endif %}
            <br>
            <br>
        </div>
        {% empty %}
            <li> No active auctions. </li>
        {% endfor %}
    </div>
{% endblock %}
